@using ParksService.ViewModels
@model ParkViewModel

<link href="https://fonts.googleapis.com/css?family=Bitter:400,700" rel="stylesheet">
<link rel="stylesheet" href="~/css/site.css" />
<link rel="stylesheet" href="~/css/ViewDetailsModalStyle.css" />

<body>
    <form id="details-form">
        <div id="view-details">
            <div id="details-header">
                <div id="details-title">
                    <h3>@Model.FullName</h3>
                </div>
                <h5>@Model.FullState</h5>
            </div>
            <br />
            <button type="button" class="collapsible">Getting There</button>
            <div id="directions-collapse" class="content">
                <p>@Model.DirectionsInfo</p>
                <br />
                <div class="address">
                    <h4>Address:</h4>
                    @Model.Address.Line1 <br />
                    <div class='(@Model.Address.Line2.Length > 0 ? "visible-item" : "hidden-item")'>@Model.Address.Line2</div>
                    <div class='(@Model.Address.Line3.Length > 0 ? "visible-item" : "hidden-item")'>@Model.Address.Line3</div>
                    @Model.Address.City, @Model.Address.StateCode @Model.Address.PostalCode <br />
                    <button class="btn btn-link map-button" id="@Model.LatLong">Map</button>
                    <br />
                </div>
            </div>
            <br />
            <button type="button" class="collapsible">Weather</button>
            <div id="weather-collapse" class="content">
                <p>@Model.WeatherInfo</p>
            </div>
            <br />
            <button type="button" class="collapsible">Fees</button>
            <div id="fees-collapse" class="content centered">
                <h4>@Model.EntranceFees[0].Title</h4>
                <p>@Model.EntranceFees[0].Description</p>
                <p>Cost: $@Model.EntranceFees[0].Cost</p>
            </div>
        </div>
    </form>
</body>

<script type="text/javascript">
    $("body").on("click",
        ".map-button",
        function (button) {
            const coords = button.target.id
            const url = getUrl(coords);
            const win = window.open(url, '_blank');
        // Ensures Explore page doesn't refresh when this page loads
            return false;
    });
</script>

<script type="text/javascript">
    var collapsibles = $(".collapsible");

    for (let i = 0; i < collapsibles.length; i++) {
        collapsibles[i].addEventListener("click",
            function () {
                this.classList.toggle("active");
                let content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
    }
</script>